<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/helpers.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/modal-overlay.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/site-footer.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/site-header.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/textual-content.css"/>
    <% for(let i=0; i < stylesheets.length; i++) { -%>
    <link rel="stylesheet" type="text/css" href="<%= stylesheets[i] %>"/>
    <% } -%>

    <% for(let i=0; i < scripts.length; i++) { -%>
    <script type="text/javascript" src="<%= scripts[i] %>"></script>
    <% } -%>
</head>
<body>

<%- include("../partials/site-header.html.ejs") %>
<div class="content">
<%- include("../partials/" + page, pageLocals) %>
</div>
<%- include("../partials/site-footer.html.ejs") %>
<%- include("../partials/modal-overlay.html.ejs") %>
</body>
</html>