<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>

    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="styles/modal.css"/>
    <% for(var i=0; i < stylesheets.length; i++) { -%>
    <link rel="stylesheet" type="text/css" href="<%= stylesheets[i] %>"/>
    <% } -%>

    <% for(var i=0; i < scripts.length; i++) { -%>
    <link rel="stylesheet" type="text/css" href="<%= scripts[i] %>"/>
    <% } -%>

</head>
<body>

<header>
    <img src="../media/logo.svg" alt="CollaBoard logo"/>
</header>
<%- include("../partials/" + page, pageLocals) %>
<footer>
    <nav class="horizontal-nav">
        <a href="/report">About</a>
        <a href="/tutorial">Tutorial</a>
        <a href="/report">WebTech Report</a>
        <a href="http://willprice.org">Author</a>
    </nav>
</footer>

<%- include("modal.html.ejs") %>
</body>
</html>